* {
    margin: 0;
    padding: {0};
}

body {
    font-family: 'Brush Script MT', cursive;
    font-weight: 200;
    color:#336570;
    background: white;
}

.navbar_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.navbar_item {
    font-size: 20px;
    padding: 20px;
    text-transform: capitalize;
}

.navbar_item img {
    height: 200px;
}

.navbar_link {
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

.navbar_link:hover {
    color: black;
}

.elvira {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 4px solid skyblue;
}

.elvira_container {
    display: flex;
    letter-spacing: 4px;
    text-align: center;
    margin: 40px;
    flex-direction: column;
    align-items: center;
}

.elvira_intro {
    color: grey;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4px;
    color: gray
  }

.services_item {
    margin: 14px;
    text-align: center;
    height: 300px;
    width: 180px;
    padding: 80px;

}
.services_item img {
    margin: 10px;
    height: 150%;
    width: 150%;
    object-fit: scale-down;    
}

.services_title {
    font-size: 20px;
    padding: 3px;
    margin-bottom: 1px;
}

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    color: gray;
}

.works_item {
    margin: 14px;
    text-align: center;
    height: 200px;
    width: 200px;
    padding: 40px;
}

.works_item img {
    margin: 10px;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
  }

.works_title {
    font-size: 20px;
    padding: 3px;
    margin-bottom: 1px;
}

.instagram_container{
    font-size: 25px;
    display: flex;
    letter-spacing: 2px;
    margin: 1px;
    flex-direction: column;
    align-items: center;   
}

.instagram_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
  }

.instagram_item img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 4px;
    height: 30%;
    width: 30%;
}

.contact_container {
    display: flex;
    letter-spacing: 2px;
    text-align: center;
    margin: 1px;
    flex-direction: column;
    align-items: right;
  }
  
 .contact_intro {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
 .contact a {
    text-decoration: none;
    font-size: 18px;
  }

  footer {
    display: flex;
    justify-content: center;
  }
  
  footer img {
    justify-content: center;
  }

.logo_container {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.logo img {
    padding: 1px;
    height: 50%;
    width: 50%;
    object-fit: contain;
    margin-top: 1px;
}
  